@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #274c77;
  --color-light: #f0e2e7;
  --color-dark: #22223b;
  --color-alert: #ee204e;
  --color-warning: #ffd166;
  --color-disabled: #e2d6da;

  --font-lusitana: "Lusitana";
  --font-outfit: "Outfit";

  --text-lg: 2.25rem;
  --text-md: 1.25rem;
  --text-sm: 0.875rem;
  --text-sx: 0.625rem;

  --shadow-solid: 2px 2px 0;
  --shadow-center: 0 0 8px;

  --spacing-sm: 0.1875rem;
  --spacing-md: 0.6875rem;
  --spacing-lg: 1.4375rem;

  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
}

@layer base {
  body {
    @apply bg-light;
  }

  form input {
    @apply font-outfit text-primary bg-primary/10 p-md py-sm rounded-sm focus:ring-primary focus:ring-2 focus:outline-none
  }

  form textarea {
    @apply font-outfit text-primary bg-primary/10 p-md py-sm rounded-sm min-h-8 focus:ring-primary focus:ring-2 focus:outline-none
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lusitana;
  }

  p {
    @apply font-outfit;
  }

  button {
    @apply bg-primary text-light font-lusitana text-md px-md py-sm rounded-sm hover:cursor-pointer transition-all
  }
}

@layer components {
  .border-style-1 {
    @apply rounded-sm border-2 border-primary shadow-solid shadow-primary;
  }

  .header {
    @apply font-lusitana text-lg text-primary;
  }

  .subheader {
    @apply font-outfit text-md text-primary;
  }

  .paragraph-1 {
    @apply font-outfit text-sm text-primary/70;
  }

  .card-active {
    @apply shadow-center shadow-primary/20 rounded-md border-primary/20 border-2;
  }

  .center {
    @apply justify-center items-center;
  }
}
